*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white
}
@import url('https://fonts.googleapis.com/css2?family=Sulphur+Point:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body{
    background-color: rgb(38 28 28);
}
header{
    background-color: rgba(235, 16, 16, 0.877);
}
h2{
    font-family: 'Roboto Mono', monospace;
    padding-top: 20px;
    font-size: 5rem;
    text-align: center;
}
nav{
    font-family: 'Sulphur Point', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    margin: 0px 30px;
    font-size: 1.5em;
    border-style: groove;
    border-color: white;
}
nav ul li {
    list-style-type: none;
    display: inline-block;
    /* padding: 50px 60px; */
}
nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font;
}
/* nav ul li a:hover{
    color: red;
    transition: 0.3s;
} */

.nick{
    /* deagradê na fonte */
    background: linear-gradient(to right, rgb(255, 0, 0)
    , rgb(168, 60, 41));

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.329);
    
}
.logo-preto{
    max-width: 100px;
    border-radius: 5%;
}

/* ----------- */
.sobre{
    display: inline-block;
    padding: 50px 50px;
}
.sobre a:hover{
    color: red;
    transition: 0.6s;
}
.img-sobre{
    max-width: 35px;
}

/* ----------- */
.projetos{
    display: inline-block;
    padding: 50px 50px;
}
.projetos a:hover{
    color: red;
    transition: 0.6s;
}
.img-projetos{
    max-width: 35px;
}

/* ----------- */
.linguagens{
    display: inline-block;
    padding: 50px 50px;
}
.linguagens a:hover{
    color: red;
    transition: 0.6s;
}
.img-linguagens{
    max-width: 35px;
}

/* ------------*/
.contato{
    display: inline-block;
    padding: 50px 50px;
}
.contato a:hover{
    color: red;
    transition: 0.6s;
}
.img-contato{
    max-width: 35px;
}
.well-come{
    position: absolute;
    display: flex;
}
.block-one{
    display: block;
    margin-left: 5%;
    background-image: url(imagens/gif-ola-mundo.gif);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.hi{
    
    font-size: 100px;
    font-weight: bolder;
    padding: 20px 20px 0px;
    margin-left: 20px;
}
.world{
    font-size: 100px;
    font-weight: bolder;
    padding: 0px 20px;
    margin-left: 20px;
    text-indent: 4rem;
}
.about{
    margin: 20px 30px 20px 10px;
    border-width: 1px;
    border-radius: 5px;
    border-style: groove;
    font-size: 2em;
}
.about p{
    text-indent: 16px;
    text-align: justify;
    padding: 1.5em;
}