*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white
}
@import url('https://fonts.googleapis.com/css2?family=Sulphur+Point:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
:root{
    --font-one: 'Roboto', sans-serif;
    --font-two: 'Sulphur Point', sans-serif;
    --color-one: #FFA500
}

/* ---------SCROLLBAR-------- */
::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar-thumb{
    background-color: #FFA500;
    border-radius: 20px;
}

/* -------------HTML---------- */
body{
    background-color: rgb(38 28 28);
}
@media (max-width: 376px){
    body{
        width: auto;
        overflow-x: hidden;
    }
}


/* -----BARRA DE NAVEGAÇÃO------ */
nav{
    font-family: 'Sulphur Point', sans-serif;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: rgb(38 28 28);
    align-items: center;
    justify-content: space-around;
    height: 80px;
    padding: 10px;
    margin: 0px 0px;
    font-size: 1.5em;
    border-bottom: solid 2px #FFA500;
    box-shadow: 4px 3px 8px 0px black;

}
nav ul li {
    list-style-type: none;
    display: inline-block;
}
nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.nav-bar{
    display: inline-block;
    padding: 50px 50px;
}
.nav-bar a:hover{
    color: #FFA500;
    transition: 0.6s;
}
.img-nav-bar{
    max-width: 35px;
}
.logo-preto{
    max-width: 100px;
    border-radius: 5%;
    display: none;
}

.mobile-menu-icon{
    display: none;
}

.mobile-menu{
    display: none;
}
.icon{
    max-width: 35px;
}
@media (max-width: 980px){
    .nav-bar{
        padding: 25px 25px;
        font-size: 20px;
    }
}

@media (max-width: 376px){
    .logo-preto{
        display: block;
        max-width: 70px;
    }
    nav{
        border: block;
        box-shadow: none;
        padding: 0px;
        margin: 0px;
        width: 105%;
    }
    .nav-bar{
        padding: 8px;
        align-items: center;
        margin: auto;
        width: 80%;
        font-size: 20px;
        font-family: var(--font-one);
    }
    .nav-item{
        display: none;
        padding-bottom: 10px;
        width: 70%;
        border-radius: 8px;
    }
    .img-nav-bar{
        display: none;
    }    .mobile-menu ul li {
        background-color: rgb(60, 45, 45);
        border-bottom: solid 2px #FFA500;
        list-style-type: none;
        display: inline-block;
        text-align: center;
        margin: auto;
    }
    .mobile-menu ul li a {
        text-decoration: none;
        color: white;
        font-weight: bold;
    }
    .mobile-menu-icon{
        display: block;
    }
    .mobile-menu-icon button{
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .mobile-menu ul{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    .mobile-menu .nav-item{
        display: block;
        padding-top: 1.2rem;
    }
    .open{
        display: block;
    }
    

}

/*---------APRESENTAÇÃO-------------- */
.start{
    margin-top: 100px;
    padding-bottom: 0px;
    height: 100vh;
    
}
.well-come{
    display: flex;
}
.block-one{
    display: block;
    margin-left: 5%;
    background-image: url(imagens/gif-ola-mundo.gif);

    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.249);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.hi{
    font-size: 100px;
    font-weight: bolder;
    padding: 20px 20px 0px;
    margin-left: 20px;
}
.world{
    font-size: 100px;
    font-weight: bolder;
    padding: 0px 20px;
    margin-left: 20px;
    text-indent: 4rem;
}
.presentation{
    margin: 20px 30px 20px 10px;
    border-width: 1px;
    border: solid 2px #ffa6007c;
    border-radius: 4px;
    box-shadow: 4px 3px 8px 0px black;
    font-size: 2em;
}
.presentation p{
    text-indent: 16px;
    text-align: justify;
    padding: 1.5em;
}
@media (max-width: 980px){
    .start{
        height: 80vh;
    }
    .block-one{
        display: flex;
        justify-content: center;
        margin: 30px 0px 100px 0px;

    }
    .well-come{
        display: flex;
        flex-direction: column;
    }
    .hi{
        padding: 0px;
        font-size: 78px;
        border-color: white;
    }
    .world{
        text-indent: 0px;
        padding: 0px;
        font-size: 78px;
    }
    .presentation{
        margin: 0px 40px;
        font-size: 1.7em;
    }
    .presentation p{
        text-align: center;
        padding: 30px;
    }
}
@media (max-width: 376px){
   .start{
        margin-top: 0px;
        padding-bottom: 50px;
        height: 80vh;
    } 
    .well-come{
        display: flex;
        flex-direction: column;
    }
    .block-one{
        margin-top: 10vh;
    }
    .hi{
        font-size: 70px;
        margin: 20px 10px 0px 0px;
        padding: 10px 10px 0px;
    }
    .world{
        font-size: 55px;
        margin-left: 10px;
        margin-bottom: 90px;
        padding: 0px 10px;
        text-indent: 2rem;
    }
    .presentation{
        display: flex;
        flex-direction: column;
        font-size: 1.3em;
        width: 100vw;
        margin: 0px 10px;

    }
    .presentation p{
        text-indent: 10px;
        font-size: 20px;
        word-spacing: 0px;
        padding: 10px;

    }
}

/* ---------TÍTULOS-------------- */
.container-main-h2{
    display: flex;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 10px;
    text-transform: uppercase;
    text-align: center;
    margin: 30px;
    font-size: 2.4em;
}
.container-main-h2 h2::after{
    content: '';
    display: block;
    width: 90%;
    height: 3px;
    background-color: #FFA500;
    margin-left: 20%;
    margin-top: 2%;
}
@media (max-width: 376px){
    .container-main-h2{
        padding-top: 60px;
        font-size: 1.5em;
    }
}

/* ------SOBRE------- */

.text1{
    display: flex;
    justify-items: center;
}
.img-text{
    max-width: 300px;
    max-height: 300px;
    margin-top: 3%;
    margin-left: 8%;
    border-radius: 50%;
    
}
.about-main{
    padding-top: 30px;
    margin: 10px 30px;   
}
.about-p{
    font-size: 1.2em;
    margin: 10px;
    font-family: var(--font-two);
    padding-bottom: 7px;
    text-indent: 1.0em;
    text-align: justify;
}
.about-main-2{
    margin-left: 10px;
    padding: 38px 5px 0px 5px;
    justify-content: center;
    font-family: var(--font-two);
}
.about-main-2 ul{
    display: flex;
    margin-left: 6px;
    font-family: var(--font-one);
    justify-content: space-evenly;
}
.about-main-2 ul li{
    padding: 6px;
}
@media (max-width: 980px){
    .img-text{
        max-width: 250px;
        max-height: 250px;
        margin: auto;
    }
    .text1{
        flex-direction: column;
    }
    .about-p{
        text-align: center;
    }
}
@media (max-width: 376px){
    .img-text{
        max-width: 200px;
        max-height: 200px;
    }
     .text1{
        margin-left: auto;
    }
    .about-main{
        margin: 10px 0px 0px 8px;
    }
    .about-p{
        display: flex;
        flex-direction: column;
        font-size: 1.1em;
        text-align: center;
    }
    .about-main-2{
        margin-top: 30px;
        padding: 0px;
        font-size: 12px;
    }
    .about-main-2 ul{
       flex-direction: row;
       justify-content: center;
    }
    .about-main-2 ul li{
        font-size: 11px;
        margin-left: 8px;
        list-style-type: none;
        position:relative;
        margin-bottom:0.5em;
        padding: 3px;
        word-wrap: break-word;
    }
    .about-main-2 ul li:before {
        content: '•';
        display: inline-block;
        position: absolute;
        left: -5px;
        color: #FFA500;
      }
}

/* --------CARDS---------- */
.container{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;                /*novo*/
}
.container-card{
    transition: 0.4s;
    width: 300px;
    height: 460px;
    margin: 25px;
    overflow: hidden;
    border-radius: 20px;
    border: 2px solid orange;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.815);
}
.container-card:hover{
    transform: scale3d(1.1, 1.1, 1);    /*novo*/
}
.card{
    width: 100%;
    height: 200px;
    overflow: hidden;
  
}
.img-card{
    min-width: 100%;
    width: auto;
    height: 100%;
}
.body-card{
    height: auto;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.titulo-card{
    margin-top: auto;
    text-transform: uppercase;
    font-family: var(--font-one);
}
.text-card{
    font-size: 1.4rem;
    font-family: var(--font-one);
    padding-bottom: 15px;
    margin-top: 15px;
}
.footer-card{
    margin-top: 17px;
    text-align: center;
    text-transform: uppercase;
}
.footer-card a {
    font-weight: 600;
    padding: 9px;
    border-radius: 30px;
    border: solid 1px;
    text-decoration: none;
}

@media (max-width: 376px){
    .container-card{
        height: 400px;
    }
    .card{
        height: 176px;
    }
    .text-card{
        font-size: 14px;
    }
    .titulo-card{
        font-size: 22px;
        margin: 0px;
    }
}

/* --------LINGUAGENS-------- */
.title-lang{
    text-align: center;
    padding-bottom: 50px;
    font-size: 2em;
}
.language{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}
.lang{
    text-align: center;
    width: 100%;
    width: 300px;
    height: 300px;
}
.lang>img{
    max-width: 170px;
}
@media (max-width: 376px){
    .title-lang{
        font-size: 1.3em;
    }
    .lang img{
        max-width: 100px;
    }
}

/* --------BARRA PROGRESSO-------- */
.bar{
    padding-top: 30px;
}
.bar-prog-h{
background: linear-gradient(to right, #d99666,#f4b459);
}
.bar-prog-css{
    background: linear-gradient(to right, #2196f3,#fafafaaf);
}
.bar-prog-p{
    background: linear-gradient(to right, #3cccdd,#fedc00);
}
.bar-prog-js{
    background: linear-gradient(to right, #ffdf00,#00000044);
}
.bar-prog-m{
    background: linear-gradient(to right, #00758f 70%,#000000b4);
}
.bar-prog-c{
    background: linear-gradient(to right, #009ade,#0092cf);
}
.bar-prog-c-s{
    background: linear-gradient(to right, #b14796,#782379);
}
.bar li {
    width: 50px;
    display: inline-block;
    text-align: center;
    border-radius: 5px;
    border: solid 2px white;
}

/* --------CONTATO-------- */
#contatoid{
    font-size: 1.5em;
}
.contact{
    width: 100%;
    margin-bottom: 5%;
}
.contact-info{
    display: flex;
    margin: auto;
    justify-content: space-around;
}
.contact-info a{
    text-decoration: none;
}
.cont-soc{
    text-align: center;
}
.cont-text{
    padding-top: 15px;
}
.cont-text:hover{
    color: #fffb00;
    transition: 0.7s;
}
i:hover{
    color: #fffb00;
    transition: 0.7s;
}

@media (max-width: 376px){
    #contatoid{
        font-size: 1.3em;
    }
    #location{
        display: none;
    }
    .contact{
        margin-bottom: 50px;
    }
    .contact-info{
        margin: auto;
    }
    .cont-text{
        display: none;
    }
}