html{
    height: 100%;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(#141e30, #243b55);
}
form{
    border-radius: 15px;
}
fieldset{
    border: 3px solid dodgerblue;
}
legend{
    border: 3px solid dodgerblue;
    text-align: center;
    background-color: dodgerblue;
    border-radius: 8px;
}

.box{
    background-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    border-radius: 15px;
    width: auto;
    color: white;
}
.inputbox{
    position: relative;
    margin-top: 18px;
    
}
.inputUser{
    background: none;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    font-size: 15px;
    width: 100%;
}