html{
    height: 100%;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(#141e30, #243b55);
}
fieldset{
    border: 3px solid dodgerblue;
}
legend{
    border: 3px solid dodgerblue;
    padding: 10px;
    text-align: center;
    background-color: dodgerblue;
    border-radius: 8px;
    color: white;
}

.box{
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    border-radius: 15px;
    width: auto;
}
.inputbox{
    position: relative;
    margin-top: 25px;
}
.inputUser{
    background: none;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    font-size: 15px;
    width: 100%;
    color: white;
}

.labelInput{
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
    transition: .5s;
}
.inputUser:focus ~ .labelInput,
.inputUser:valid ~ .labelInput{
    top: -20px;
    font-size: 12px;
    color: #1e90ff;
}

#data{
    border: none;
    padding: 8px;
    border-radius: 10px;
    width: 90%;
    outline: none;
    font-size: 15px;
}

#submit{
    background: linear-gradient(to right, #141e30, #243b55);
    margin-top: 40px;
    width: 100%;
    font-size: 15px;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    padding: 15px;
    text-align: center;
    transition: background-color 12s;
}
#submit:hover{
    background: linear-gradient(to right, #141e30, #1e90ff); 
}
